:root {
    --primary-font: 'Roboto';
    --primary-text-color: rgba(0, 0, 0, 0.70);
    --secontdary-text-color: rgba(0, 0, 0, 0.55);
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
    font-family: "Roboto";
    background: linear-gradient(90deg, #ffffff 60%, #FAF5F2 60%)
}
a{
    text-decoration: none;
}
p {
    margin: 0;
}
.bold{
    font-weight: 600 !important;
}
ol,
ul {
    list-style: none;
}

.title-head {
    font-family: 'Crimson Text', serif;
}

main {
    overflow: clip;
}

.text-yellow {
    color: #E59838;
}

.bg-light {
    background: #F5F7FA
}

.bg-light-2 {
    background: #E4E8EF;
}

.ft-24 {
    font-size: 24px;
}

.ftw-600 {
    font-weight: 600;
}

.btn-cta {
    border: 1px solid #E59838;
    border-radius: 50px;
    padding: 10px 10px;
    text-decoration: none;
}

.btn-cta-solid {
    background-color: #E59838;
    border-radius: 50px;
    text-decoration: none;
    color: #FFF;
}

.btn-solid-outline {
    border: 1px solid #C0C8E2;
    border-radius: 30px;
    text-decoration: none;
    color: #24365D;
    font-weight: 500;
}

.offcanvas {
    background-color: #24365D;
}

.offcanvas-body .nav-item i {
    display: none;
}

.message-top {
    width: 100%;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.message-top p,
span,
a {
    font-size: 12px;
    color: #3E4E70;
}

.message-top .social,
.message-top span,
.social a {
    color: #E59838;
    text-decoration: none;
    gap: 5px;
}

.message-top .social a {
    font-size: 20px;
}

.navbar-brand p {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.nav-link {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.55);
    text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover {
    color: #737373;
}

.header-actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.header-actions ul {
    display: flex;
    flex-direction: row;
}

.header-actions .cart-button {
    border: 1px solid #E59838;
    border-radius: 50px;
    padding: 0px 10px;
}

.header-actions img {
    max-width: 28px;
}

.header-actions .avatar {
    max-width: 40px;
}

.input-search {
    background-color: #ECECEC;
    border-radius: 10px;
}

.input-search input {
    background-color: #ECECEC;
    border-radius: 10px;
    font-size: 14px;
    color: #9C9C9C;
    border: none;
}

.input-search input::placeholder {
    color: #9C9C9C;
}

.input-search button {
    color: #9C9C9C;
}

.slide img {
    width: 100%;
}




.categories h4,
.description {
    font-size: 25px;
    color: var(--secontdary-text-color);
    font-family: var(--primary-font);
    padding-top: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.categories a {
    text-decoration: none;
}

.categories .item-section p {
    color: var(--secontdary-text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    letter-spacing: 0.36px;
    font-size: 18px;
    padding-top: 35px;
    text-transform: uppercase;
}

.new {
    padding-top: 90px;
}

.new .description {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.new h4 {
    color: #000;
    font-family: Poiret One;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 96.154% */
    letter-spacing: -1.04px;
}

.new .description p {
    font-size: 16px;
    text-align: justify;
    line-height: 18px;
    /* 150% */
    letter-spacing: 0.32px;
    padding: 10px 20%;
    font-weight: 500;
}

.new .description .price {
    color: var(--secontdary-text-color);
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.new .small-gallery .item {
    padding: 10px;
}

.especial {
    padding-top: 90px;
}

.especial h4 {
    color: #000;
    font-family: Poiret One;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

.especial .especial-thumb {
    max-height: 360px;
}

.especial .especial-thumb img {
    width: 100%;
    height: auto;
    max-height: 360px;
}

.especial h4 {
    color: var(--secontdary-text-color);
    font-family: var(--primary-font);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
}

.especial a {
    color: rgba(0, 0, 0, 0.40);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.especial .especial-link-1 {
    background-color: #D7BBAE;
    width: 100%;
    height: 100%;
}

.especial .especial-link-2 {
    background-color: #F8E6B8;
    width: 100%;
    height: 100%;
}

.especial .especial-link-3 {
    background-color: #ACBCAF;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.grid-item {
    padding: 10px;
    text-align: center;
    max-width: 290px;
}

.grid-item #product-2 {
    max-width: 290px;
    background-color: #F4F5F7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.grid-item #product-2 .part-2 {
    padding: 18px;
    text-align: left;
}

.grid-item #product-2 .part-2 p {
    color: #898989;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
}

.image-box {
    text-align: left;
    padding-bottom: 24px;
}

.image-box p {
    font-size: 13px;
    font-family: 'Roboto', open-sans;
    font-weight: 600;
    color: #24365D;
}

.image-box .description {
    background-color: #F5F7FA;
    padding: 10px;
}

.image-box a {
    text-decoration: none;
}

.image-box .description a {
    color: #3E4E70;
    font-size: 12px;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
    text-align: left;
}
.section-products .title{
    color: rgba(0, 0, 0, 0.40);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
max-width: 400px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 250px;
    max-height: 250px;
    overflow: hidden;
}

.section-products .single-product .part-1 img {
    width: 100%;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}



.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}


.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    color: #3A3A3A;
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 28.8px */
}

.section-products .single-product .part-2 h4 {
    color:#3A3A3A;
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
    color: #B0B0B0;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ED0006;
    transform: translateY(-50%);
}

.section-products .single-product .part-2 .add-cart a {
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--primary-text-color);
}

.fav-products {
    background-color: #24365D;
    border-radius: 10px;
    color: #FFF;
}

.fav-products .countdown {
    color: #FFF;
    font-family: 'Poppins', open-sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fav-products .price {
    font-family: 'Roboto', open-sans;
    font-size: 30px;
    line-height: 24px;
    margin: 0px 10px;
}

.fav-products .price .old-price {
    position: relative;
    padding: 0 10px;
    margin: 0px 10px;

}

.fav-products .price .old-price::after {
    position: absolute;
    content: "";
    top: 40%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ED0006;
    transform: translateY(-50%);
}

.experience {
    border-radius: 10px;
    padding: 80px 0px;
}

.experience .company {
    background-size: cover;
    background-position: top;
    border-radius: 10px;
    height: 400px;
}

.experience .company .description {
    color: #000;
    background: #F5F7FA;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 80px 12px 0px 12px;
    position: relative;
    bottom: 0px;
}

.experience .company h2 {
    font-size: 24px;
    font-family: 'Roboto', open-sans;
    letter-spacing: 0.72px;
    line-height: 28px;

}

.experience .company p {
    font-size: 14px;
}

.calification {
    background-color: #7E8D81;
    border-radius: 10px;
    color: #FFF;
}

.calification .stars {
    color: gold;
}
.calification h2{
    font-size: 30px;
    font-weight: 400;
    font-family: var(--primary-font);
}
.calification p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
}
.blog .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.blog .blog-item {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.blog .blog-item .btn-blog {
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #F0FAF9;
    font-weight: 600;
}

.blog .blog-item .btn-blog:hover {
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #E59838;
    font-weight: 600;
    color: #FFF;
}

.newsletter {
    background-color: #F5F7FA;
    margin-top: 80px;
    padding: 24px;
    border-radius: 10px;
    align-items: center;
}

.newsletter .newsletter-item {
    display: flex;
    align-items: center;
}

.newsletter h6 {
    font-family: 'Roboto', open-sans;
    font-weight: 600;
    padding-bottom: 20px;
}

.newsletter .newsletter-item p {
    font-weight: 600;
}

.newsletter .newsletter-item img {
    max-width: 100px;
    margin: 0px 10px;
}

.newsletter .newsletter-item button {
    padding: 5px 30px;
}


section .social {
    padding-top: 80px;
}

section .social .col {
    padding: 0px;
}

.social .col img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer {
    background-color: #F8FAFC;
    color: var(--primary-text-color);
    font-family: 'Roboto', open-sans;
    font-weight: 400;
    margin-top: 60px;
    padding: 20px 0px;
}

.footer .brand {
    font-size: 14px;
    line-height: 28px;
}

.footer .brand a {
    color: #4B4B4C;
    text-decoration: none;
}

.footer h5 {
    font-size: 18px;
    font-weight: 400;
}

.footer ul li {
    padding-top: 10px;
}
.footer ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0px;
}

.footer ul li a i {
    font-size: 20px;
}

.detail .short-description {
    padding: 24px;
}

.detail .short-description .bta-cta {
    font-size: 14px;
    text-decoration: none;
}

.detail .short-description .support {
    font-size: 14px;
    text-decoration: none;
}

.detail .short-description .support i {
    border: 1px solid #24365D;
    border-radius: 50%;
    padding: 10px;
    margin-left: 5px;
}

.detail .large-description {
    background: #F5F7FA;
    border-radius: 10px;
    padding: 24px;
}

.presentation .nav-item button {
    font-size: 14px;
    background-color: #FFF;
    font-weight: 400;
    padding: 5px;
    color: #cacaca;
    border: 1px solid #cacaca;
    margin: 0 10px;

}

.presentation .nav-item .active {
    background-color: #24365D;
    color: #FFF;

}

.product-price-section {
    background-color: #F5F7FA;
    padding: 24px;
    border-radius: 10px;
    margin: 20px 0px;
}

.product-price-section .cantidad button {
    background-color: #E59838;
    border: none;
}

.product-price-section .cantidad span {
    font-size: 18px;
    font-weight: 600;
}

.product-price-section .product-price {
    position: relative;
    padding: 0 10px;
    margin: 0px 10px;
}

.product-price-section .product-price .old-price::after {
    position: absolute;
    content: "";
    top: 70%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ED0006;
    transform: translateY(-50%);
}

.advantage {
    padding-top: 70px;
}

.advantage .info {
    background: #F5F7FA;
    margin: 36px 0px;
    border-radius: 10px;
    padding: 10px 24px;
}

.how-to {
    background: #24365D;
    color: #FFF;
    padding: 70px;
}

.how-to .head {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to .head p {
    max-width: 450px;
    font-size: 14px;
    text-align: justify;
}

.how-to .row {
    padding-top: 70px;
}

.how-to .step {
    display: flex;
    justify-content: center;
}

.how-to .step h1 {
    border: 2px solid #FFF;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    width: 70px;
    height: 70px;

}

.how-to .item p {
    font-size: 14px;
    padding: 24px 24px;
}

.contact .form {
    background: #24365D;
    color: #FFF;
    padding: 50px 100px;

}

.contact h2 {
    font-family: 'Crimson Text';
    font-weight: 300;
}

.contact .form form {
    font-weight: 300;
    padding-top: 20px;
}

.contact .form .form-label,
.contact .form input,
.contact .form textarea {
    font-family: 'Roboto', open-sans;
    font-size: 12px;
}

.contact .form .form-label {
    font-family: 'Roboto', open-sans;
    font-size: 14px;
}

.contact .form .form-control {
    border-radius: 0px;
}

.contact .info {
    background-size: cover;
    padding: 60px 90px;

}

.contact .info .title {
    color: #9A5630;
    text-transform: uppercase;
    font-size: 15px;
}

.contact .info .details .item a {
    font-size: 20px;
    font-family: 'Crimson Text';
    font-weight: 200;
    text-decoration: none;
    color: #24365D;
}

.contact .info .details .item .underline {
    position: relative;
}

.contact .info .details .item .underline::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #24365D;
}

.contact-social i {
    font-size: 24px;
    text-transform: none;
}

.map {
    padding-top: 40px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 300px;
}

.gmap_iframe {
    height: 300px !important;
}


.quienes .services {
    background: url('../images/quienes/1.png');
    border-radius: 10px;
    background-size: cover;
    background-blend-mode: overlay;
    color: #FFF;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quienes .services h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.quienes h2 {
    font-family: 'Crimson Text';
    font-weight: 300;
}


.quienes .info {
    background-size: cover;
    padding: 60px 40px;

}

.quienes .info .title {
    color: #9A5630;
    text-transform: uppercase;
    font-size: 15px;
}

.quienes .info .details .item a {
    font-size: 20px;
    font-family: 'Crimson Text';
    font-weight: 200;
    text-decoration: none;
    color: #24365D;
}

.services-list {
    font-weight: 300;
    column-count: 2;
    padding-left: 0;
}

.terminos-info .data {
    background: #F5F7FA;
    padding: 24px;
}

.terminos-info .data p {
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    /* 206.25% */
    letter-spacing: 0.72px;
}

div#list-tab {
    border-radius: 0px;
}

.list-group-item {
    background: #24365D;
    color: #FFF;
    font-size: 14px;
}

.list-group-item:hover {
    background: #0C1B3C;
    color: #FFF;
    font-size: 14px;
}

.list-group-item.active {
    background: #0C1B3C !important;
    border: none;
}

#profile-tab h1,
#profile-tab h2,
#profile-tab h3,
#profile-tab h4 {
    font-family: 'Crimson Text';
}

#profile-tab .message {
    background-color: #edf2fa;
    margin: 20px 0px;
    padding: 10px 15px;
    color: #24365D;
    font-size: 14px;
}

#profile-tab input,
#profile-tab .form-select {
    border: 1px solid #3E4E70;
    border-radius: 3px;
    font-size: 12px;
}

#profile-tab .form-label,
#profile-tab .form-check-label {
    margin-bottom: 5px;
    font-size: 12px;
}

#profile-tab .address {
    background: #F5F7FA;
    padding: 24px;
    margin: 16px;
}

.resume table thead tr,
.resume table tbody td {
    border-bottom: 1px solid #C0C8E2;
}

.resume table tbody td {
    border-bottom: 1px solid #eff0f5;
}

.resume table tbody td img {
    max-width: 100px;
}

.resume table tbody td {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.resume table tbody td button {
    font-size: 14px;
    background-color: #FFF;
    font-weight: 400;
    padding: 5px;
    color: #cacaca;
    border: 1px solid #cacaca;
    margin: 0 10px;
}

.resume .cupon input {
    font-size: 12px;
}

.resume .cupon button {
    font-size: 14px;
    color: #0C1B3C;
    font-weight: 600;
    border: none;
}

.resume .total-cart p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
}

.resume .total-cart span {
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.resume .total-cart .total,
.resume .total-cart .total span {
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.form-select {
    border: 1px solid #3E4E70;
    border-radius: 3px;
    font-size: 12px;
}

.resume .address-config .form-label {
    font-size: 14px;
    font-weight: 600;
}

.resume .address-config .form-check-label {
    font-size: 14px;
}

.resume .address-item {
    background: #F5F7FA;
    margin: 0px 10px;
    padding: 24px;
}

.payment-list .list-group-item {
    background: #FFF;
    color: #24365D;
    font-weight: 500;
    padding: 20px 10px;
}

.payment-list .list-group-item:hover {
    background: #F5F7FA;
    color: #24365D;
    font-weight: 500;
    cursor: pointer;
}

.payment-list .list-group-item label {
    cursor: pointer;
}

.payment-list .list-group-item input {
    cursor: pointer;
}

.payment-list img {
    margin-right: 10px;
}

.list-options {
    font-weight: 500;
    column-count: 4;
}

.list-options li {
    font-size: 14px;
    margin: 10px 0px;
}

.list-options li small {
    font-size: 12px;
    font-weight: 300;
    color: #0C1B3C;
}

.map-img {
    max-width: 350px;
}

.copyright {
    color: #65707D;
    font-size: 12px;
    border-top: 1px solid #C0C8E2;
}

.copyright img {
    margin: 5px 0px;
}


@media (max-width: 767px) {
    .brands {
        flex-direction: column;
    }

    .brands .logos {
        overflow-x: scroll;
    }

    .advantage .info {
        padding: 20px 24px;
    }

    .header-actions {
        display: none;
    }

    .header-actions .nav-item {
        padding: 0px 10px;
    }

    .offcanvas-body {
        width: 100%;
        align-items: flex-start !important;
    }

    .offcanvas-body .nav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #FFF;
    }

    .offcanvas-body .nav-item a {
        font-size: 16px;
    }

    .offcanvas-body .nav-item i {
        display: flex;
    }

    .message-top a {
        display: block;
    }

    .slide .left-side {
        padding-left: 20px;
    }

    .image-box img {
        width: 100%;
    }

    .fav-products .price {
        align-items: center;
        flex-direction: column;

    }

    .experience .company {

        background-position: top !important;
        background-size: contain !important;
    }

    .experience .company h2 {
        font-size: 18px;
    }

    .experience .company .description {
        flex-direction: column;
        margin: 120px 12px 0px 12px;
    }

    .newsletter .row .col-sm-12 {
        flex-direction: column;
    }

    .newsletter .row .col-sm-12 .newsletter-item {
        justify-content: space-between;
        padding: 20px 0px;
    }

    .newsletter .form-inline {
        justify-content: center;
    }

    .fav-products .valido {
        text-align: center;
    }

    .fav-products .countdown {
        text-align: center;
    }

    .grid-blog {
        display: flex;
        flex-direction: row;
    }

    .new .description {
        padding-left: 0px;
    }

    .section-products .single-product .part-1 {
        height: auto;
    }
    .especial .especial-link-1{
        padding: 40px 0px;
    }
    .especial .especial-link-2{
        padding: 40px 0px;
    }
    .especial .especial-link-3{
        padding: 40px 0px;
    }
}

@media (min-width: 768px) {
    .pr-desktop-5 {
        padding-right: 70px
    }
}